---
import Layout from '../layouts/Layout.astro';
import { PAGES } from '../config/site';
---

<Layout title={PAGES.about}>
  <h1>{PAGES.about.title}</h1>
  <p>
  Το Ρόδι Κρεμαστός δημιουργεί κορυφαίας ποιότητας χυμό ροδιού με έμφαση στη φρεσκάδα,
  τη γεύση και τη βιωσιμότητα. Το προϊόν μας είναι ψυχρής έκθλιψης και εμφιαλώνεται τοπικά.
  </p>
</Layout>
